<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
        <div class="d-flex flex-wrap align-items-center mt-2">
            <ng-container *ngFor="let item of data.images.images let i = index;">
                <div class="card">
                    <div class="image-container">
                        <button class="right-button">X</button>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <img class="fixed-size-image" [src]="getImageUrl(item)" alt="{{item.name}}">
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
