<div class="wapper">
    <button mat-button color="wt" (click)="viewCar()" >
        <mat-icon>edit</mat-icon>
        <span>Ver imágenes</span>
      </button>
      <button mat-button color="wt" (click)="addRep()" >
        <mat-icon>edit</mat-icon>
        <span>Añadir reparación</span>
      </button>
      <button mat-button color="wt"  >
        <mat-icon>visibility</mat-icon>
        <span>Solicitar petición</span>
      </button>
      <button mat-button color="wt"  >
        <mat-icon>visibility</mat-icon>
        <span>Peticiones</span>
      </button>

    </div>