<div class="container">
    
        <div class="inner-container">
    <div class="col-12 col-md-6">
      <div id="carouselExampleControls" class="carousel slide custom-slider" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-img-container d-flex justify-content-center">
                <img src="https://www.meridalivingrealestate.com/images/casas/2019-03-29_08-18-12_House_MeridaRealEstate09.JPG" class="d-block w-100" alt="...">
              </div>            
            </div>
            <div class="carousel-item">
              <div class="carousel-img-container d-flex justify-content-center">
                <img src="../../../assets/img/jimy.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-img-container d-flex justify-content-center">
                <img src="../../../assets/img/noimage.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
</div>

  </div>
