<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" opened class="color-full">
      <mat-toolbar class="color-full">
        <div class="img-tag">
          <img src="../../../assets/img/TAC.png" style="width: 100%; margin: 16px;">
          <!-- <img src="../../../assets/img/fr.jfif" style="width: 100%; margin: 16px;"> -->
        </div>
      </mat-toolbar>
      <mat-nav-list>
        <a id="Clients" mat-list-item  (click)="ChangedView('Clients')" *ngIf=" isAdmin=='admin'">
          <!-- <mat-icon matListItemIcon>label</mat-icon> -->
          <mat-icon matListItemIcon>account_circle</mat-icon>
          <span>Clientes</span>
        </a>

        <a id="Searches" mat-list-item  (click)="ChangedView('Searches')" *ngIf=" isAdmin=='user'">
          <mat-icon matListItemIcon>search</mat-icon>
          <span class="txt-c">Mis vehículos</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar class="color-full">
        <span>Contenido Principal</span>
      </mat-toolbar>
      <div class="main-content">
      <!-- <app-clients></app-clients> -->
      <app-clients *ngIf="ClientsComponent && isAdmin=='admin'"></app-clients>
      <app-search *ngIf="SearchComponent && isAdmin=='user'"></app-search>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
v  